.profile__name{
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .profile__name{
    margin-top: 30px;
    font-size: 27px;
    line-height: 26px;
    text-align: center;
  }
}
