.profile__container{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  .profile__container{
    padding-left: 28px;
    flex-direction: column;
  }
}
