.profile__info{
  color: white;
  margin: 12px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .profile__info{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 33px;
  }
}
