.popup__input-error{
  width: 358px;
  margin: 0 auto;
  color: #FF0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  position: absolute;
  top: 27px;
}

@media screen and (max-width: 768px) {
  .popup__input-error{
    width: 238px;
  }
}
