.profile{
  display: flex;
  width: 90%;
  max-width: 880px;
  margin: 40px auto 0;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .profile{
    width: 95%;
    flex-direction: column;
    justify-content: center;
    margin-top: 42px;
  }
}
