.popup__close{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/popup__cross.png");
  width: 32px;
  height: 32px;
  top:-40px;
  right: -40px;
  cursor: pointer;
  background-size: cover;
  z-index: 3;
  border: none;
}

@media screen and (max-width: 768px){
  .popup__close{
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
