.profile__avatar-container{
  margin: 0;
  display: block;
  position: relative;
}


.profile__avatar-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../images/profile__patch_avatar.svg") no-repeat center center;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
}
.profile__avatar-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity 0.4s linear;
}
.profile__avatar-container:hover:before,
.profile__avatar-container:hover:after {
  opacity: 0.8;
  cursor: pointer;
}

