.profile__avatar{
  margin: 0;
  width: 120px;
  height: 120px;
  aspect-ratio: 120/120;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px){
  .profile__avatar{
    align-self: center;
  }
}
