.popup__container{
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  align-items: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
}


