.profile__add-button{
  margin: 0 0 5px;
  align-self: center;
  justify-self: flex-end;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0);
}

@media screen and (max-width: 768px){
  .profile__add-button{
    margin-bottom: 0;
    width: 282px;
    height: 50px;
    box-sizing: border-box;
  }
}

