.element__trash{
  background-image: url("../../../images/element__trash.svg");
  position: absolute;
  top: 5px;
  right: 10px;
  width: 18px;
  height: 19px;
  border:none;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  align-self: center;
  box-sizing: border-box;
  cursor: pointer;
}

.element__trash:hover{
  opacity: 0.6;
}
