.element__like{
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/element__like_disabled.png");
  margin: 0;
  width: 22px;
  height: 19px;
  background-size: cover;
  align-self: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

.element__like:hover{
  opacity: 0.5;
}
