.popup{
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
.popup::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  z-index: 1;
}
